    h1 {
        color: cornflowerblue;
        font-size: 2em;
    }

    h2{
        color: darkslateblue;
        font-size: 1.75em;
    }

    li, p{
        font-size: 1.2em;
    }


    .mainbody {
        display: grid;
        grid-template-columns: 25% 50% 25%;
    }

    .skills {
        float: left;
        grid-column: 1;
    }

    .contact {
        float: right;
        grid-column: 3;
    }

    .skills, .contact, .mainbody {
        background-color: azure;
    }

